@charset "UTF-8" ;
html{
    font-family: 'BIZ UDPMincho', serif;
    font-family: 'Sawarabi Mincho', serif;
}
body{
    background-image: url(/images/sora.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
    margin: 0 auto;
    padding: 0em;
}
/*ヘッダー*/
#header{
    background: #1e1e27;
    color: #fff;
}
#header h1{
    margin: 0;
    padding: 1em;
    letter-spacing: 0.1em;
    font-size: small;
}
/*ナビゲーター*/
#nav ul,
#nav li{
	list-style: none;
	margin: 0;
	padding: 0;
}
#nav ul {
	width: 100%;
	height: 5em;
	display: flex;
}
#nav li {
	width: calc( 100% / 5 );
	overflow: hidden;
}
#nav li a {
	background: #2c2848;
	color: #fff;
	text-align: center;
	text-decoration: none;
	line-height: 5em;
	position: relative;
	display: block;
	box-sizing: border-box;
	transition: all .5s ease;
	height: 10em;
}
#nav li a::after {
	background: rgba(150, 137, 226, 0.3);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	content: attr(data-item);
}
#nav li a:hover {
	margin-top: -5em;
}
/*メイン　画像*/
main{
    width: 100%;
}
.mainvisual{
    width: 100%;
}
/*イントロ*/
.intro{
    font-size: 20px;
    font-weight: lighter;
    line-height: 2;
    text-align: center;
    margin-top: 30px;
    padding: 2em;
    color: rgb(255, 255, 255);
}
/*ニュース*/
h1{
	padding-top: 120px;
	font-size: 30px;
	color: #fff;
	text-align: center;
	margin-bottom: 30px;
}
/*右からスライド*/
.slideInRight {  
    animation-name: slideInRight;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: .25s;
    animation-fill-mode: forwards;
}

@keyframes slideInRight{
0% {
	transform: translateX(100px);
}
100% {
	transform: translateX(0);
}
}
.newslist {
	max-width: 500px;
	margin: 0 auto;
}  
  @media screen and (max-width: 1000px) {
	.newslist {
	  font-size: 12px;
	  padding: 0 10px;
	}
  }
  .newslist li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	padding: 20px 10px;
	border-top: 2px solid hsl(217, 40%, 33%);
	line-height: 1.5;
}
  
  .newslist li:last-child {
	border-bottom: 2px solid rgb(34, 48, 71);
}
  
  .newslist li time {
	padding-right: 20px;
	color: cornflowerblue;
}
  
  .newslist li a {
	color: rgb(187, 204, 234);
	text-decoration: none;
}  
/* フッター*/
#footer {
	background: rgb(0, 0, 0);
	color: #fff;
	font-size: 0.7em;
	margin: 0;
	padding: 1rem;
}
/* フェードイン */
.fadeIn{
	opacity: 0;
	animation-name: fadeIn;
	animation-duration: 2s;
	animation-timing-function: ease;
	animation-delay: .5s;
	animation-fill-mode: forwards;
}

@keyframes fadeIn{
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
h2{
	padding-top: 10px;
	font-size: 50px;
	color: #fff;
	text-align: center;
	margin-bottom: 30px;
}

.slide{
	position: relative;
	width: 100%;
	padding-top: 70.7%;
}
.slide img{
	position: absolute;
	width: 100%;
	height: auto;
	top: 0;
	left: 0;
	opacity: 0;
	animation: slideshow 60s linear infinite;
}
.slide img:nth-child(2){
	animation-delay: 4s;
}
.slide img:nth-child(3){
	animation-delay: 8s;
}
.slide img:nth-child(4){
	animation-delay: 12s;
}
.slide img:nth-child(5){
	animation-delay: 16s;
}
.slide img:nth-child(6){
	animation-delay: 20s;
}
.slide img:nth-child(7){
	animation-delay: 24s;
}
.slide img:nth-child(8){
	animation-delay: 28s;
}
.slide img:nth-child(9){
	animation-delay: 32s;
}
.slide img:nth-child(10){
	animation-delay: 36s;
}
.slide img:nth-child(11){
	animation-delay: 40s;
}
.slide img:nth-child(12){
	animation-delay: 44s;
}
.slide img:nth-child(13){
	animation-delay: 48s;
}
.slide img:nth-child(14){
	animation-delay: 52s;
}
.slide img:nth-child(15){
	animation-delay: 56s;
}
.slide img:nth-child(16){
	animation-delay: 60;
}
@keyframes slideshow{
	0%{
        opacity: 0;
	}
	10%{
        opacity: 1;
	}
	28%{
		opacity: 1;
	}
	38%{
		opacity: 0;
	}
	100%{
		opacity: 0;
	}
}
img {
	width: 100%;
  }
  .photo-grid-container {
	column-count: 5;
	column-width: 300px;
  }
  .photo-grid-item {
	margin: 0 auto 15px;
	max-width: 400px;
	width: 100%;
  }
  h3{
	padding-top: 10px;
	font-size: 25px;
	color: #fff;
	text-align: center;
	margin-bottom: 30px;
}